//
//  Secrets-Example.xcconfig
//  MEALgorithmiOS
//
//  Created by User on 2024/01/04.
//

// Instructions:
// 1. Copy this file and name it 'Secrets.xcconfig'
// 2. Replace the placeholder below with your actual API Key
// 3. Ensure 'Secrets.xcconfig' is in your .gitignore (it is by default)

GEMINI_API_KEY = YOUR_API_KEY_HERE
